* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color: #c3e4f4;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

@media (max-width: 600px) {
  .page {
    padding: 0 5vw;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 12px;
  }
}
