.question {
  width: 80vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  text-align: center;
}

.question-text {
  font-size: 2rem;
  font-weight: 500;
}

.question-option {
  cursor: pointer;
  padding: 15px 10px;
  width: 100%;
  margin: 0 auto 20px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.2rem;
  background-color: #afdcfa;
  border: none;
  max-width: 1000px;
}

.question-option:last-child {
  margin: 0 auto;
}

.question-option:hover {
  background-color: #94d1f8
}